.section_favorite {
  background: linear-gradient(135deg, #303033 0%, #3c3c40 100%);
  padding: 40px;
  color: #ffff;
  .favorite_title {
    margin: 15px 0 40px;
    text-align: center;
  }

  .favorite_movies_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    row-gap: 40px;
  }
}
