.main_container {
  background: linear-gradient(135deg, #303033 0%, #3c3c40 100%);

  padding: 50px;
  color: #ffff;

  .content_wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 70px;

    .link {
      text-decoration: none;
      color: inherit;
    }
  }
  .sidebar {
    width: 250px;
    flex-shrink: 0;
    position: sticky;
    top: 20px;
  }

  .movies_block {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
    align-items: center;
    justify-items: center;
    padding: auto;
  }
}
