body {
  margin: 0;
}

.header_container {
  color: #ffff;
  background-color: #3a3a3c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  padding: 20px 0 20px 50px;

  h1 {
    font: 20px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    font-synthesis: none;

    font-weight: 600;
    text-decoration: none;
  }

  .header_user_actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    .user_actions_block {
      display: flex;
      align-items: center;
      gap: 5px;

      cursor: pointer;

      .icon {
        filter: brightness(0) invert(1);
      }
    }
  }
}
